@import url('https://fonts.googleapis.com/css?family=Exo+2|Open+Sans|Timmana|Play|Orbitron|Permanent+Marker');

body {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #424242;
  color: #fff;
}

h1 {
  color: black;
}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

.font-exo {
  font-family: 'Exo 2', sans-serif;
  color: white;
}

.font-sans {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.font-tim {
  font-family: 'Timmana', sans-serif;
  color: white;
}

.font-play {
   font-family: 'Play', sans-serif;
   color: white;
 }

.font-orb {
  font-family: 'Orbitron', sans-serif;
  color: white;
}

.font-perm {
  font-family: 'Permanent Marker', sans-serif;
  color: white;
  font-size: 24px;
}

.SvgImage img{ width:50%; }

.row {
  text-align: center;
}

.center-block {float: none !important}

.child {
  margin: auto;
}

.flex-rectangle {
  margin: auto;
    width: 90%;
    background: #F44336;
    border-radius: 25px;
    padding: 10px;
}

.flex-rectangle:before {
    content: "";
    display: block;

}
